# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore local Playwright browser data, as the Docker image has its own
playwright_profile

# Ignore git folder
.git

# Ignore files in upload/output directories but keep the directories themselves
uploads/*
!uploads/.gitkeep
outputs/*
!outputs/.gitkeep
